<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
    <img th:src="${product.illustration}" class="card-img-top" />
    <p th:text= "${product.name}"></p>
    <div>Prix : <p th:text= "${product.price}"></p></div>
    <div>Description : <p th:text= "${product.description}"></p></div>
    <button>
        <a th:href="@{|/addProduct/${product.id}/1|}">Add to cart</a>
    </button>
</body>
</html>
